extends ./header.jade

block append head
  link(rel="stylesheet", type="text/css", href="//cdn.jsdelivr.net/jquery.slick/1.5.6/slick.css")
  link(rel="stylesheet", type="text/css", href="//cdn.jsdelivr.net/jquery.slick/1.5.6/slick-theme.css")
block append body
  .row
    //- div(class="large-12 columns")
    div(class="slick-slider")
      each image in images
        div(class='sliderImg', id='slider_image'+image.id)
          a(data-reveal-id="slider_edit_modal" + image.id, href="/gallery/" + image.id)
            img(class="src_img_link"+image.id,id="slider_image"+image.id, src=image.link)
          div(id="slider_edit_modal" + image.id, class="reveal-modal", data-reveal aria-labelledby="modalTitle", aria-hidden="true", role="dialog")
            .row
              if image.link !== "URL here!"
                div(class="large-9 columns")
                  .image_container
                    img(class="single_display_image src_img_link"+image.id, src=image.link)
              div(class="large-3 columns")
                form(id="delete_form", method="post" action="/gallery/" + image.id)
                  input(type="hidden", name="method",value="delete")
                  input(type="hidden", name="id",value=image.id)
                form(class="user_submit_form", method="post" action="/gallery/" + image.id)
                  .text_container
                    input(type="hidden", name="method",value="put")
                    .author_container
                      input(class="author_value"+image.id,readonly, type="text", name="author",value=image.author)
                      //- span= image.author
                    .description_container
                      input(class="description_value"+image.id,readonly, type="text", name="description",value=image.description)
                      //- span= image.description
                    .link_container
                      input(class="link_value"+image.id,readonly, type="text", name="link",value=image.link)
                      //- span= image.link
                  .button_container
                    div
                      a(href="#", class="small button edit_slider_image")
                        | Edit
                    div
                      a(href="#", class="small button delete_button")
                        | Delete
              a(class="close-reveal-modal", aria-label="Close")
                | &#215;
  hr(class="hr_separator")
  .row
    .scroll_div
      ul(class="small-block-grid-2 medium-block-grid-3 large-block-grid-4")
        - while(images.length > 0)
          -image = images.pop()
          li(class="imageLI", id="imageLI"+image.id)
            a(id="list_modal_anchor" + image.id, data-reveal-id="list_edit_modal" + image.id, href="/gallery/" + image.id)
              img(class="src_img_link"+image.id,id="list_image"+image.id, src=image.link)
            div(id="list_edit_modal"+ image.id, class="reveal-modal", data-reveal aria-labelledby="modalTitle", aria-hidden="true", role="dialog")
              .row
              if image.link !== "URL here!"
                div(class="large-9 columns")
                  .image_container
                    img(class="list_image src_img_link"+image.id, src=image.link)
              div(class="large-3 columns")
                form(id="delete_form", method="post" action="/gallery/" + image.id)
                  input(type="hidden", name="method",value="delete")
                  input(type="hidden", name="id",value=image.id)
                form(id="user_submit_form", method="put" action="/gallery/" + image.id)
                  .text_container
                    input(type="hidden", name="method",value="put")
                    .author_container
                      input(class="author_value"+image.id,readonly, type="text", name="author",value=image.author)
                      //- span= image.author
                    .description_container
                      input(class="description_value"+image.id,readonly, type="text", name="description",value=image.description)
                      //- span= image.description
                    .link_container
                      input(class="link_value"+image.id, readonly, type="text", name="link",value=image.link)
                      //- span= image.link
                  .button_container
                    div
                      //- a(href="../gallery/"+image.id+"/edit", onclick="test();",class="small button")
                      a(href="#",class="small button edit_list_image")
                        | Edit
                    div
                      a(href="#", class="small button delete_button")
                        | Delete
              a(class="close-reveal-modal", aria-label="Close")
                | &#215;
            span(id="author_tag"+image.id)
              =image.author
            br
            span(id="description_tag"+image.id)
              =image.description
  //- .row
  //-   div(class="large-12 columns")
  //-     .panel
  //-       h4
  //-         | Get in touch!
  //-       .row
  //-         div(class="large-9 columns")
  //-           p
  //-             | We'd love to hear from you, you attractive person you.
  //-         div(class="large-3 columns")
  //-           a(href="#", class="radius button right")
  //-             | Contact Us
block append bodyend
  script(type="text/javascript", src="//cdn.jsdelivr.net/jquery.slick/1.5.6/slick.min.js")
  script
    | $(document).ready(function(){$('.slick-slider').slick({infinite:true,variableWidth:true,adaptiveHeight:true,centerMode:true,slidesToShow:3,slidesToScroll:1,autoplay: true,autoplaySpeed: 1500});});

