extends ./header.jade

block append head
  link(rel="stylesheet", type="text/css", href="//cdn.jsdelivr.net/jquery.slick/1.5.6/slick.css")
  link(rel="stylesheet", type="text/css", href="//cdn.jsdelivr.net/jquery.slick/1.5.6/slick-theme.css")
block append body
  //- hr(class="hr_separator")
  //- .row
  //-   div(class="large-3 columns")
  //-     h1
  //-       strong
  //-         span(class="title_text")
  //-           | _ARCHITEKT
  //-   div(class="large-3 columns")
  //-   div(class="large-6 columns")
  //-     .header_text_container
  //-       span(class="headerText")
  //-         | Welcome to our online portfolio. We are a small button-group of passionate designers and architects, looking to change and create amazing digital images to inspire others to follow our innovative steps.
  .row
    //- div(class="large-12 columns")
    div(class="slick-slider")
      each image in images
        div(class='sliderImg')
          img(src=image.link)
  hr(class="hr_separator")
  .row
    .row
      div(class="large-4 columns")
        img(src=images[3].link)
        h4
          =images[3].author
        p
          =images[3].description
      div(class="large-4 columns")
        img(src=images[4].link)
        h4
          =images[4].author
        p
          =images[4].description
      div(class="large-4 columns")
        img(src=images[5].link)
        h4
          =images[5].author
        p
          =images[5].description
    .row
      div(class="large-4 columns")
        img(src=images[6].link)
        h4
          =images[6].author
        p
          =images[6].description
      div(class="large-4 columns")
        img(src=images[7].link)
        h4
          =images[7].author
        p
          =images[7].description
      div(class="large-4 columns")
        img(src=images[8].link)
        h4
          =images[8].author
        p
          =images[8].description
  .row
    div(class="large-12 columns")
      .submit_container
        a(href="/new_photo",class="button")
          | Submit a new image!
  //- .row
  //-   div(class="large-12 columns")
  //-     .panel
  //-       h4
  //-         | Get in touch!
  //-       .row
  //-         div(class="large-9 columns")
  //-           p
  //-             | We'd love to hear from you, you attractive person you.
  //-         div(class="large-3 columns")
  //-           a(href="#", class="radius button right")
  //-             | Contact Us
block append bodyend
  script(type="text/javascript", src="//cdn.jsdelivr.net/jquery.slick/1.5.6/slick.min.js")
  script
    | $(document).ready(function(){$('.slick-slider').slick({infinite:true,variableWidth:true,adaptiveHeight:true,centerMode:true,slidesToShow:3,slidesToScroll:1,autoplay: true,autoplaySpeed: 1500});});
